
#topnav{
    width: 100%;
    height: 20px;
    background-color:F3E5F5 ;
    
}
   body{ margin: 0px;
    padding: 0px;
    background-color:white;
   }
   #midnav{
    width: 100%;
    height: 60px;
 
    background-color: black;
    display: flex;
   }
   .logo{
    width: 10%;
    
    margin-left: 2%;
    
   }
   .logo>img{
    height: 70%;
    width: 100%;
    border: solid rebeccapurple px;
    margin-top: 7%;


   }
   #midnav li a{
    text-decoration: none;
    color:white;
    margin:5px 15px;
    
   }
   #midnav li{
    float: left;
    list-style: none;  }
    
    #ser{
    border: solid black 1px;
    margin-top: 0.5%;
    margin-left: 5%;
    inset-block: f004;
    }
    #ser input{
border-radius: 20px;

border: 1PX solid none;
    }
    #nav3{
        width: 100%;
       height: 60px;
        background-color:rgb(66, 64, 64);
        margin-top: 0%;
        border: solid black 1px;
        
    }
    #nav3 li{
        float: left;
    list-style: none;
    margin: 5px 20px;
    }
    #nav3 li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    }
    #nav3 li a:hover{
    background-color: rgb(102, 88, 88);
}
#topnav img{
    width: 100%;
    height: 20px;
}
#topnav li{
    float:right;
    list-style: none;
    margin: 0.5px 20px;

}
 #topnav li a{
   
    text-decoration: none;
    color:gray;
}
#poster1 {
    display: flex;
    border: red solid px;
    width: 100%;
    height: 50px;
    
}
.one{
    background-color:rgb(138, 224, 224);
width: 50%;
text-align: center;
}
.two{
    background-color: black;
    width: 50%;
    text-align: center;
    
}.two h1{
    color: white;
    font-size: medium;
    margin-top: 18px;
}
.one h1{
    font-size: medium;
    margin-top: 18px;
}
#poster2{
    background-color:rgb(138, 224, 224);
    border: solid 1px rgb(62, 238, 238);
    height: 100px;
    text-align: center;
}
#poster2 h1{
    color: black;
    
    font-style: oblique;
}
#poster2 p{
    font-size: small;
}
#poster3{
    
    width: 90%;
    border: rgb(8, 6, 6) solid px;
    margin-left: 5%;
    margin-top:4% ;
}
#poster3 video{
    width: 100%;
    height: 100%;
    

}
#poster4{
    border: red solid px;
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2%;
    text-align: center;
    grid:wrap;
    
}
@media(max-width:768px){
    #poster4{
        grid-template-columns: repeat(2,1fr);
        margin: 7%;
    }
}
@media(max-width:500px){
    #poster4{
        grid-template-columns: repeat(2,1fr);
        margin: 7%;
    }
}
#poster4 div{
border: red solid px;
grid:wrap;


}
#poster4 div img{
    width: 100%;
    
}
#poster4 div h1{
    font-size: medium;
}
@media(max-width:768px){
    #c{
        grid-template-columns: repeat(1,1fr);
    }
}
@media(max-width:500px){
    #c{
        grid-template-columns: repeat(1,1fr);
        
    }
}
#c{
    border: red solid px;
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1%;
    text-align: center;
    grid:wrap;

}
.p{
    border: solid royalblue px;
    width: 100%;
    text-align: center;
}
.f{
    border: solid rgb(2, 8, 27) px;
    width: 100%;
    
    text-align: center;
}
.f img{
    width: 100%; 
}
.p img{
    width: 100%;
}
.p button{
    padding: 4% 8%;
    border: solid black 2px;
    font-style: normal;
    font-size: small;
}
.f button{
    padding: 4% 8%;
    border: solid black 2px;
    color: black;
    font-size:small;
    font-style: normal;
}
.f button:hover{
    background-color:black;
    color:white;
}
.p button:hover{
    background-color:black;
    color:white;
}
#text{
    width: 100%;
    height: 50px;
    border: red solid px;
    text-align: center;
    margin-top: 4%;
    
}
#text h1{
    margin: auto;
    margin-right: 85px;
}
.poster6{
    border: greenyellow solid px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
   
    
    margin-top: 2%;
   
}
.poster6>div{
    border: rgb(14, 219, 107) solid px;
    
}
.poster6 div img{
    width: 100%;
}
.poster6 div>img:hover{
    background-color:whitesmoke;
}